* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#434343));
  background-image: linear-gradient(to bottom, #000000, #434343);
  min-height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#6d6027), to(#d3cbb8));
  background-image: linear-gradient(to right, #6d6027, #d3cbb8);
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 5px 2px #b99912;
          box-shadow: 1px 1px 5px 2px #b99912;
}

.container .content {
  padding: 2rem;
}

.container .content p {
  padding: 1rem 0 0;
  font-size: 1.2rem;
}

.container .content p span {
  color: #060606;
  font-weight: 700;
}

.container .content input {
  width: 300px;
  padding: 0.7rem;
  border-radius: 5px;
  margin: 1rem 0;
  outline: none;
}

.container .content .fact {
  display: none;
}

.container .content .fact h3 {
  color: #060606;
}
